@page
@model AccessDeniedModel
@using OSDevGrp.OSIntranet.Bff.WebApi.Models
<div class="row">
    <div class="col-12">
        <div class="alert alert-danger">
            <span>
                <i class="fa-regular fa-circle-xmark"></i>&nbsp;<strong>Access Denied</strong>
            </span>
            <hr>
            <p>You do not have permission to access this page.</p>
            <p>Please check your credentials and try again.</p>
        </div
    </div>
</div>