# Directories
.git/
.vs/
.vscode/
**/[Bb]in/
**/[Oo]bj/
**/[Oo]ut/
**/[Ll]logs/
**/[Nn]ode_[Mm]odules/
**/[Dd]ist/
**/[Dd]ist-ssr/

# Files
.dockerignore
.gitignore
.env
docker-compose.yaml
*.Dockerfile
*.local
**/.env
**/*.log
**/*.log*