# Directories
.git/
.vs/
.vscode/
**/[Bb]in/
**/[Oo]bj/
**/[Oo]ut/

# Files
.dockerignore
.gitignore
.env
OSDevGrp.OSIntranet.Builder.Dockerfile
OSDevGrp.OSIntranet.Mvc.Dockerfile
OSDevGrp.OSIntranet.WebApi.Dockerfile
Nginx.Dockerfile
docker-compose.yaml