@model IEnumerable<ClientSecretIdentityViewModel>;
@{
    ViewData["Title"] = "Web API klienter";
}

<div class="row">
    <div class="col-xl-1">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <h2>Web API klienter</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Navn på klient</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (ClientSecretIdentityViewModel clientSecretIdentityViewModel in @Model)
                {
                    <tr>
                        <td>@clientSecretIdentityViewModel.FriendlyName</td>
                        <td></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xl-1">
    </div>
</div>