@model IEnumerable<ClientSecretIdentityViewModel>;
@{
    ViewData["Title"] = "Web API klienter";
}

<div class="row">
    <div class="col-xl-1">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <h2>Web API klienter</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Navn på klient</th>
                    <th><a asp-area="" asp-controller="Security" asp-action="CreateClientSecretIdentity"><i class="fas fa-plus"></i></a></th>
                </tr>
                </thead>
                <tbody>
                @foreach (ClientSecretIdentityViewModel clientSecretIdentityViewModel in @Model)
                {
                    <tr>
                        <td>@clientSecretIdentityViewModel.FriendlyName</td>
                        <td>
                            <span class="fa-stack">
                                <a asp-area="" asp-controller="Security" asp-action="UpdateClientSecretIdentity" asp-route-identifier="@clientSecretIdentityViewModel.Identifier"><i class="fas fa-pen"></i></a>
                                <a href="#" onclick="javascript:$().askForDeletion('Web API klient', '@(clientSecretIdentityViewModel.GetDeletionLink(Url))', @(clientSecretIdentityViewModel.GetDeletionData(Html)), $(this).parent().parent().parent());"><i class="fas fa-trash"></i></a>
                            </span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xl-1">
    </div>
</div>