@model ClientSecretIdentityViewModel;
@{
    ViewData["Title"] = "Opret Web API klient";
}

<div class="row">
    <div class="col-xl-1 d-none d-xl-block">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <h2>Opret Web API klient</h2>
        <form asp-area="" asp-controller="Security" asp-action="CreateClientSecretIdentity" method="post">
            <partial name="_ClientSecretIdentityPartial" />
            <button type="submit" class="btn btn-primary">Opret</button>
            <a class="btn btn-secondary" asp-controller="Security" asp-action="ClientSecretIdentities">Fortryd</a>
        </form>
    </div>
    <div class="col-xl-1 d-none d-xl-block">
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <environment include="Development">
        <script src="~/js/security.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/security.min.js" asp-append-version="true"></script>
    </environment>
}