@model UserIdentityViewModel;
@{
    ViewData["Title"] = "Redigér bruger";
}

<div class="row">
    <div class="col-xl-1 d-none d-xl-block">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <h2>Redigér bruger</h2>
        <form asp-area="" asp-controller="Security" asp-action="UpdateUserIdentity" method="post">
            <partial name="_UserIdentityPartial" />
            <partial name="_AuditablePartial" />
            <button type="submit" class="btn btn-primary">Opdatér</button>
            <a class="btn btn-secondary" asp-controller="Security" asp-action="UserIdentities">Fortryd</a>
        </form>
    </div>
    <div class="col-xl-1 d-none d-xl-block">
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <environment include="Development">
        <script src="~/js/security.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/security.min.js" asp-append-version="true"></script>
    </environment>
}