@model IEnumerable<UserIdentityViewModel>;
@{
    ViewData["Title"] = "Brugere";
}

<div class="row">
    <div class="col-xl-1">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <h2>Brugere</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Ekstern bruger identifikation</th>
                    <th><a asp-area="" asp-controller="Security" asp-action="CreateUserIdentity"><i class="fas fa-plus"></i></a></th>
                </tr>
                </thead>
                <tbody>
                @foreach (UserIdentityViewModel userIdentityViewModel in @Model)
                {
                    <tr>
                        <td>@userIdentityViewModel.ExternalUserIdentifier</td>
                        <td>
                            <span class="fa-stack">
                                <a asp-area="" asp-controller="Security" asp-action="UpdateUserIdentity" asp-route-identifier="@userIdentityViewModel.Identifier"><i class="fas fa-pen"></i></a>
                                <a href="#" onclick="javascript:$().askForDeletion('Slet bruger', '@(userIdentityViewModel.GetDeletionLink(Url))', @(userIdentityViewModel.GetDeletionData(Html)), $(this).parent().parent().parent());"><i class="fas fa-trash"></i></a>
                            </span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xl-1">
    </div>
</div>