@model AccountIdentificationViewModel;
<button type="submit" class="btn btn-primary">@Model.GetActionText()</button>
<a class="btn btn-secondary" onclick="javascript:$().getAccounting('@Model.Accounting.GetStartLoadingAccountingUrl(Url)');">Fortryd</a>