@model AccountingViewModel;
<form id="editAccountingForm" asp-area="" asp-controller="Accounting" asp-action="@Model.GetAction()">
    <input type="hidden" asp-for="EditMode" />
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            @if (Model.EditMode == EditMode.Create)
            {
                <div class="form-group">
                    <label asp-for="AccountingNumber"></label>
                    <input asp-for="AccountingNumber" class="form-control" />
                    <span asp-validation-for="AccountingNumber" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="AccountingNumber"></label>
                    <input asp-for="AccountingNumber" class="form-control" readonly />
                </div>
            }
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LetterHead"></label>
                <select asp-for="LetterHead.Number" asp-items="Model.LetterHeads.SelectListFor(Model.LetterHead.Number)" class="form-control"></select>
                <span asp-validation-for="LetterHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalanceBelowZero"></label>
                <select asp-for="BalanceBelowZero" asp-items="Model.BalanceBelowZero.SelectListFor()" class="form-control"></select>
                <span asp-validation-for="BalanceBelowZero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackDating"></label>
                <input asp-for="BackDating" class="form-control" />
                <span asp-validation-for="BackDating" class="text-danger"></span>
            </div>
            @if (Model.EditMode != EditMode.Create)
            {
                @await Html.PartialAsync("_AuditablePartial", Model)
            }
            <button type="submit" class="btn btn-primary">@Model.GetActionText()</button>
            <a class="btn btn-secondary" onclick="javascript:$().cancelEditAccounting();">Fortryd</a>
        </div>
    </div>
</form>