@model AccountIdentificationViewModel;
<div class="mt-2">
	@if (Model.IsProtected == false)
	{
		<button type="submit" class="btn btn-primary">@Model.GetActionText()</button>
		<a class="btn btn-secondary" onclick="javascript:$().getAccounting('@Model.Accounting.GetStartLoadingAccountingUrl(Url)');">Fortryd</a>
	}
	else
	{
		<a class="btn btn-primary" onclick="javascript:$().getAccounting('@Model.Accounting.GetStartLoadingAccountingUrl(Url)');">Tilbage</a>
	}
</div>