@model PaymentTermViewModel;
@{
    ViewData["Title"] = "Opret betalingsbetingelse";
}

<div class="row">
    <div class="col-xl-1 d-none d-xl-block">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <h2>Opret betalingsbetingelse</h2>
        <form asp-area="" asp-controller="Accounting" asp-action="CreatePaymentTerm" method="post">
            <partial name="_PaymentTermPartial" />
            <button type="submit" class="btn btn-primary">Opret</button>
            <a class="btn btn-secondary" asp-controller="Accounting" asp-action="PaymentTerms">Fortryd</a>
       </form>
    </div>
    <div class="col-xl-1 d-none d-xl-block">
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}