@model AccountGroupViewModel;
@{
    ViewData["Title"] = "Redigér kontogruppe";
}

<div class="row">
    <div class="col-xl-1">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <h2>Redigér kontogruppe</h2>
        <form asp-area="" asp-controller="Accounting" asp-action="UpdateAccountGroup" method="post">
            <partial name="_AccountGroupPartial" />
            <partial name="_AuditablePartial" />
            <button type="submit" class="btn btn-primary">Opdatér</button>
            <a class="btn btn-secondary" asp-controller="Accounting" asp-action="AccountGroups">Fortryd</a>
        </form>
    </div>
    <div class="col-xl-1">
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}