a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding top by navbar height */
  padding-top: 60px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Fixed area height styles
-------------------------------------------------- */
.fixed-area-height-300 {
    height: 300px;
    min-height: 300px;
    max-height: 300px;
}

.fixed-area-height-350 {
    height: 350px;
    min-height: 350px;
    max-height: 350px;
}

.fixed-area-height-400 {
    height: 400px;
    min-height: 400px;
    max-height: 400px;
}

.fixed-area-height-450 {
    height: 450px;
    min-height: 450px;
    max-height: 450px;
}

.table-sm-no-padding th,
.table-sm-no-padding td {
    padding: 0;
}

/* Timeline styles (https://jsfiddle.net/bootstrapious/47s0u6yp/)
-------------------------------------------------- */
/* Timeline holder */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
  content: ' ';
  background: #4d88ff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  background: #e6eeff;
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #e6eeff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: ' ';
  background: #e6eeff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #4d88ff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}