@model ContactOptionsViewModel;
@{
    ViewData["Title"] = "Kontakter";
}

<div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2>Kontakter</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>Contact operations</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>Contact collection</p>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8 col-xl-9 d-none d-md-block d-lg-block d-xl-block">
        <p>Contact content</p>
    </div>
</div>