@model ContactGroupViewModel;
@{
    ViewData["Title"] = "Redigér kontaktgruppe";
}

<div class="row">
    <div class="col-xl-1">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <h2>Redigér kontaktgruppe</h2>
        <form asp-area="" asp-controller="Contact" asp-action="UpdateContactGroup" method="post">
            <partial name="_ContactGroupPartial" />
            <partial name="_AuditablePartial" />
            <button type="submit" class="btn btn-primary">Opdatér</button>
            <a class="btn btn-secondary" asp-controller="Contact" asp-action="ContactGroups">Fortryd</a>
        </form>
    </div>
    <div class="col-xl-1">
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}