@model AccountingPresentationViewModel;
<h3>@Html.DisplayFor(m => m.Name)</h3>
<p class="small">@Html.DisplayFor(m => m.StatusDate)</p>
<hr/>
<div class="row">
    <div class="col-lg-4 col-xl-4 d-none d-lg-block d-xl-block">
        <p>Accounting Content Area 1</p>
        <hr/>
    </div>
    <div class="col-lg-4 col-xl-4 d-none d-lg-block d-xl-block">
        <p>Accounting Content Area 2</p>
        <hr />
    </div>
    <div class="col-lg-4 col-xl-4 d-none d-lg-block d-xl-block">
        <p>Accounting Content Area 3</p>
        <hr />
    </div>
    <div class="col-12 col-sm-12 col-md-12 d-block d-lg-none d-xl-none">
        <p>Accounting Content Area 1</p>
    </div>
    <div class="col-12 col-sm-12 col-md-12 d-block d-lg-none d-xl-none">
        <p>Accounting Content Area 2</p>
    </div>
    <div class="col-12 col-sm-12 col-md-12 d-block d-lg-none d-xl-none">
        <p>Accounting Content Area 3</p>
        <hr />
    </div>
</div>