@model AccountingPresentationViewModel;
<h1 class="h3">@Html.DisplayFor(m => m.Name)</h1>
<p class="small text-gray"><i class="fas fa-clock mr-1"></i>@Html.DisplayFor(m => m.StatusDate)</p>
<hr/>
<div class="row">
    <div class="col-xl-4 d-none d-xl-block">
        @if (Model.PostingLines != null)
        {
            @await Html.PartialAsync("_PostingLinePresentationCollectionPartial", Model.PostingLines.ToArray())
        }
        <hr/>
    </div>
    <div class="col-xl-4 d-none d-xl-block">
        @if (Model.ValuesForMonthOfStatusDateForBudgetAccounts != null)
        {
            @await Html.PartialAsync("_BudgetAccountCollectionValuesPartial", Model.ValuesForMonthOfStatusDateForBudgetAccounts, new[] { new KeyValuePair<string, object>("Header", "Resultat denne måned:") })
        }
        @if (Model.ValuesAtStatusDateForAccounts != null)
        {
            @await Html.PartialAsync("_AccountCollectionValuesPartial", Model.ValuesAtStatusDateForAccounts, new[] { new KeyValuePair<string, object>("Header", "Balance pr. dags dato:") })
        }
        <hr />
    </div>
    <div class="col-xl-4 d-none d-xl-block">
        @if (Model.ValuesAtStatusDateForContactAccounts != null)
        {
            @await Html.PartialAsync("_ContactAccountCollectionValuesPartial", Model.ValuesAtStatusDateForContactAccounts, new[] { new KeyValuePair<string, object>("Header", "Saldi pr. dags dato:") })
        }
        @if (Model.Debtors != null && Model.Debtors.Count > 0)
        {
            @await Html.PartialAsync("_ContactAccountPresentationCollectionPartial", Model.Debtors, new[] { new KeyValuePair<string, object>("Header", "Debitorer:") })
        }
        @if (Model.Creditors != null && Model.Creditors.Count > 0)
        {
            @await Html.PartialAsync("_ContactAccountPresentationCollectionPartial", Model.Creditors, new[] { new KeyValuePair<string, object>("Header", "Kreditorer:") })
        }
        <hr />
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-block d-xl-none">
        @if (Model.PostingLines != null)
        {
            @await Html.PartialAsync("_PostingLinePresentationCollectionPartial", Model.PostingLines.ToArray())
        }
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-block d-xl-none">
        @if (Model.ValuesForMonthOfStatusDateForBudgetAccounts != null)
        {
            @await Html.PartialAsync("_BudgetAccountCollectionValuesPartial", Model.ValuesForMonthOfStatusDateForBudgetAccounts, new[] { new KeyValuePair<string, object>("Header", "Resultat denne måned:") })
        }
        @if (Model.ValuesAtStatusDateForAccounts != null)
        {
            @await Html.PartialAsync("_AccountCollectionValuesPartial", Model.ValuesAtStatusDateForAccounts, new[] { new KeyValuePair<string, object>("Header", "Balance pr. dags dato:") })
        }
        @if (Model.ValuesAtStatusDateForContactAccounts != null)
        {
            @await Html.PartialAsync("_ContactAccountCollectionValuesPartial", Model.ValuesAtStatusDateForContactAccounts, new[] { new KeyValuePair<string, object>("Header", "Saldi pr. dags dato:") })
        }
        @if (Model.Debtors != null && Model.Debtors.Count > 0)
        {
            @await Html.PartialAsync("_ContactAccountPresentationCollectionPartial", Model.Debtors, new[] { new KeyValuePair<string, object>("Header", "Debitorer:") })
        }
        @if (Model.Creditors != null && Model.Creditors.Count > 0)
        {
            @await Html.PartialAsync("_ContactAccountPresentationCollectionPartial", Model.Creditors, new[] { new KeyValuePair<string, object>("Header", "Kreditorer:") })
        }
        <hr />
    </div>
</div>