@model IEnumerable<ContactWithUpcomingBirthdayViewModel>;
@if (Model.Any())
{
    <h1 class="h3">Fødselsdage</h1>
    <ul class="timeline">
        @foreach (ContactWithUpcomingBirthdayViewModel contactWithUpcomingBirthdayViewModel in Model)
        {
            @await Html.PartialAsync("_UpcomingBirthdayPartial", contactWithUpcomingBirthdayViewModel)
        }
    </ul>
}