@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@if (User.Identity.IsAuthenticated && (await AuthorizationService.AuthorizeAsync(User, "Accounting")).Succeeded)
{
    <li class="nav-item dropdown">
        <a href="#" class="nav-link text-dark dropdown-toggle" id="navbarDropdownMenuAccounting" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Finansstyring</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAccounting">
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Accounting" asp-action="AccountGroups">Kontogrupper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Accounting" asp-action="BudgetAccountGroups">Budgetkontogrupper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Accounting" asp-action="PaymentTerms">Betalingsbetingelser</a>
            </li>
        </ul>
    </li>
}