@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@if (User.Identity.IsAuthenticated && (await AuthorizationService.AuthorizeAsync(User, "Accounting")).Succeeded)
{
    <li class="nav-item dropdown">
        <a href="#" class="nav-link text-dark dropdown-toggle" id="navbarDropdownMenuAccounting" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Finansstyring</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAccounting">
          <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Accounting" asp-action="AccountGroups">Kontogrupper</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Accounting" asp-action="BudgetAccountGroups">Budgetkontogrupper</a>
        </ul>
    </li>
}