@model AuditableViewModelBase;
@if (Model.EditMode == EditMode.Edit)
{
    <div class="form-group">
        <input type="hidden" asp-for="CreatedDateTime" />
        <input type="hidden" asp-for="CreatedByIdentifier" />
        <label asp-for="CreatedInfo"></label>
        <input asp-for="CreatedInfo" class="form-control" readonly />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="ModifiedDateTime" />
        <input type="hidden" asp-for="ModifiedByIdentifier" />
        <label asp-for="ModifiedInfo"></label>
        <input asp-for="ModifiedInfo" class="form-control" readonly />
    </div>
}