@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@if (User.Identity.IsAuthenticated && (await AuthorizationService.AuthorizeAsync(User, "CommonData")).Succeeded)
{
    <li class="nav-item dropdown">
        <a href="#" class="nav-link text-dark dropdown-toggle" id="navbarDropdownMenuCommonData" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fælles</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuCommonData">
          <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Common" asp-action="LetterHeads">Brevhoveder</a>
        </ul>
    </li>
}