@using Microsoft.AspNetCore.Authorization
@using OSDevGrp.OSIntranet.Mvc.Security
@inject IAuthorizationService AuthorizationService
@if (User.Identity is {IsAuthenticated: true } && (await AuthorizationService.AuthorizeAsync(User, Policies.CommonDataPolicy)).Succeeded)
{
    <div class="dropdown dropright dropdown-submenu">
        <button class="text-dark dropdown-item dropdown-toggle" type="button" data-toggle="dropdown">Fælles</button>
        <ul class="dropdown-menu">
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Common" asp-action="LetterHeads">Brevhoveder</a>
            </li>
	        <li class="nav-item">
		        <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Common" asp-action="Nationalities">Nationaliteter</a>
	        </li>
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Common" asp-action="Languages">Sprog</a>
            </li>
        </ul>
    </div>
}