@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@if (User.Identity.IsAuthenticated && (await AuthorizationService.AuthorizeAsync(User, "CommonData")).Succeeded)
{
    <div class="dropdown dropright dropdown-submenu">
        <button class="text-dark dropdown-item dropdown-toggle" type="button" data-toggle="dropdown">Fælles</button>
        <ul class="dropdown-menu">
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Common" asp-action="LetterHeads">Brevhoveder</a>
            </li>
        </ul>
    </div>
}