@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (User.Identity.IsAuthenticated)
    {
        <title>@ViewData["Title"] - OS Intranet</title>
    }
    else
    {
        <title>@ViewData["Title"] - Mr. Gottham's Homepage</title>
    }

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-submenu/dist/css/bootstrap-submenu.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" />
        <link rel="stylesheet" href="~/lib/bootstrap-submenu/dist/css/bootstrap-submenu.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
              crossorigin="anonymous"
              integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OS Intranet</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mr. Gottham&lsquo;s Homepage</a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item d-none d-lg-block d-xl-block">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Start</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && (await AuthorizationService.AuthorizeAsync(User, "Contacts")).Succeeded)
                        {
                            <li class="nav-item d-none d-md-block d-lg-block d-xl-block">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Contacts">Kontakter</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && (await AuthorizationService.AuthorizeAsync(User, "Accounting")).Succeeded)
                        {
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="flex-grow-1" />
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" data-submenu>Administration</a>
                                <div class="dropdown-menu">
                                    <partial name="_ContactsPartial" />
                                    <partial name="_AccountingPartial" />
                                    <partial name="_CommonDataPartial" />
                                    <partial name="_SecurityPartial" />
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="flex-grow-1" />
                        }
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="container">
                OS Development Group &copy; 2020 - OS Intranet
            </div>
        }
        else
        {
            <div class="container">
                OS Development Group &copy; 2020 - Mr. Gottham&lsquo;s Homepage
            </div>
        }
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery-3.4.1.js"></script>
        <script src="~/lib/popper/dist/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script defer src="~/lib/bootstrap-submenu/dist/js/bootstrap-submenu.js"></script>
        <script defer src="~/lib/fontawesome/dist/js/all.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"
                asp-fallback-src="~/lib/popper/dist/popper.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
        </script>
        <script defer src="~/lib/bootstrap-submenu/dist/js/bootstrap-submenu.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
                crossorigin="anonymous"
                integrity="sha384-ujbKXb9V3HdK7jcWL6kHL1c+2Lj4MR4Gkjl7UtwpSHg/ClpViddK9TI7yU53frPN">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>