@using Microsoft.AspNetCore.Authentication.Google
@using Microsoft.AspNetCore.Authentication.MicrosoftAccount
@if (User.Identity is {IsAuthenticated: true })
{
    <li class="nav-item d-none d-lg-block d-xl-block">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Manage">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Log ud</a>
    </li>
}
else
{
    <li class="nav-item dropdown">
        <a href="#" class="nav-link text-dark dropdown-toggle" id="navbarDropdownMenuLogin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Log ind</a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLogin">
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Account" asp-action="Login" asp-route-scheme="@MicrosoftAccountDefaults.AuthenticationScheme">Med Microsoft</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Account" asp-action="Login" asp-route-scheme="@GoogleDefaults.AuthenticationScheme">Med Google</a>
            </li>
        </ul>
    </li>
}