@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@if (User.Identity.IsAuthenticated && (await AuthorizationService.AuthorizeAsync(User, "SecurityAdmin")).Succeeded)
{
    <div class="dropdown dropright dropdown-submenu">
        <button class="text-dark dropdown-item dropdown-toggle" type="button" data-toggle="dropdown">Sikkerhedsstyring</button>
        <ul class="dropdown-menu">
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Security" asp-action="UserIdentities">Brugere</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Security" asp-action="ClientSecretIdentities">Web API klienter</a>
            </li>
        </ul>
    </div>
}