@model ErrorViewModel
@{
    ViewData["Title"] = "Fejl";
}

<h1 class="text-danger">Fejl</h1>
<h2 class="text-danger">Der opstod en fejl under behandlingen af ​​din anmodning.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
@if (Model.ShowErrorCode)
{
    <p>
        <strong>Fejlkode:</strong> <code>@Model.ErrorCode</code>
    </p>
}
@if (Model.ShowErrorMessage)
{
    <p>
        <strong>Fejlbesked:</strong> <code>@Model.ErrorMessage</code>
    </p>
}